:root {
    --border: solid 1px gray;
    --bg-color: #2c2c2c;
    --text-color: #ffffff;
    --input-bg: #404040;
    --input-text: #ffffff;
    --button-bg: #424242;
    --button-hover-bg: #ff3333;
    --button-red-bg: #cc0000;
    --progress-bg: #cc0000;
    --progress-color: #ffffff;
    --border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: var(--border);
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: var(--border-radius);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
}

input[type="text"] {
    border: var(--border);
    width: 80%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--input-bg);
    color: var(--input-text);
    margin-right: 10px;
}

#video-url {
    width: 95%;
}

button {
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg);
}

.resolution-group {
    margin: 15px 0;
}

.resolution-group p {
    margin-bottom: 10px;
}

label {
    margin-right: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

#start-download {
    font-size: 1.3rem;
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg);
    border-radius: var(--border-radius);
    margin-top: 5px;
}
#start-download:hover {
    background-color: var(--button-hover-bg);
}

.meta-data {
    margin: 15px 0;
}

.progress-bar-container {
    background-color: var(--input-bg);
    border-radius: var(--border-radius);
    padding: 5px;
    margin-top: 10px;
}

.progress-bar {
    width: 32%;
    height: 20px;
    background-color: var(--progress-bg);
    border-radius: var(--border-radius);
}

#progress-text {
    color: var(--progress-color);
    margin-top: 5px;
}

.resolution-group label {
    font-size: 0.8rem;
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
    background-color: var(--input-bg);
    color: var(--text-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hide the radio input */
.resolution-group input[type="radio"] {
    display: none;
}

/* Apply selected state to the label when the radio is checked */
.resolution-group input[type="radio"]:checked + label {
    background-color: var(--button-red-bg);
}

/* Hover effect for the labels */
.resolution-group label:hover {
    background-color: var(--button-hover-bg);
}

.resolution-group label {
    border: var(--border);
    margin: 10px 2px;
    padding: 10px 15px;
}
